<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>人员列表</h2>
        <!-- 模糊搜索 -->
        <input type="text" placeholder="请输入姓名" v-model="keyword">
        <ul>
            <li v-for="p in filpersons" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.sex}}
            </li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false;
        var vm = new Vue({
            el: '#root',
            data: {
                keyword: '',
                persons: [
                    { id: '001', name: '马冬梅', age: 19, sex: '女' },
                    { id: '002', name: '周冬雨', age: 20, sex: '女' },
                    { id: '003', name: '周杰伦', age: 21, sex: '男' },
                    { id: '004', name: '温兆伦', age: 22, sex: '男' }
                ],
                filpersons: []
            },
            watch: {
                keyword: {
                    immediate: true,
                    handler(val) {
                        // 数组过滤方法
                        this.filpersons = this.persons.filter((p) => {
                            return p.name.indexOf(val) !== -1;
                        })
                    }
                }
            }
        });
    </script>
</body>

</html>